<h2>Our Fancy Sign-Up Page</h2>

{{> errors}}

<form method="POST">
    <div class="form-group">
        <label for="email">Email Address</label>
        <input class="form-control" id="email" type="email" name="email" required>
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input class="form-control" id="password" type="password" name="password" required>
    </div>
    <input class="btn btn-primary" type="submit" value="Sign Up">
</form>
